* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	color: magenta;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	min-height: 100vh;
	background-image: url("assets/somewherecold.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 20px;
	text-align: center;
}

.links {
	display: grid;
	grid-template-columns: repeat(4, 15%);
	gap: 20px;
	justify-content: center;
	margin: 40px auto;
}

.links-card {
	width: 100%;
	height: 100%;
	border: 2px solid rgb(255, 0, 247);
	text-decoration: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	overflow: hidden;
}

.links-card h2,
.links-card p {
	max-width: 100%;
	overflow-wrap: break-word;
	word-break: break-word;
}

.links-card p {
	font-size: 6px;
	line-height: 1.2;
	max-width: 25ch;
}

