		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		/* START OF CSS */
		/* add more css here! */
		.container {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
		}



		/* END OF CSS */